@model List<BlogPost>
@{Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Blog Post List";}
@section header{}
@section h1 {Blog Post List}



@Html.ActionLink("Add Post", "Add")
@using (Html.BeginForm())
{
    @Html.TextBox("filter", "");
    <button type="submit">Submit</button>
}
@foreach (BlogPost bp in Model)
{
    <div>
        @Html.DisplayFor(lambda => bp.Title)<br />
        @Html.ActionLink("Show Post", "Show", new { ID = bp.ID })
        @Html.ActionLink("Edit Post", "Edit", new { ID = bp.ID })<br /><br />
    </div>
}
@section footer{}