@model BlogPostModel

<div>
    @Html.LabelFor(bp => bp.Title)
    @Html.TextBoxFor(bp => bp.Title)
    @Html.ValidationMessageFor(bp => bp.Title)
</div>
<div>
    @Html.LabelFor(bp => bp.Author)
    @Html.TextBoxFor(bp => bp.Author)
    @Html.ValidationMessageFor(bp => bp.Author)
</div>
<div>
    @Html.LabelFor(bp => bp.Content)<br />
    @Html.TextAreaFor(bp => bp.Content)
    @Html.ValidationMessageFor(bp => bp.Content)
</div>
