<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="~/CSS/A4/DefaultStyles.css" />
    <title>@ViewBag.Title - VascularScrub</title>
</head>
<body>
    <header>
        @RenderSection("header", required: false)
    </header>
    <img src="~/Images/VascularLogo_GreenSAFS.png" alt="MainLogo" />
    <nav>
        <ul>
            <li>@Html.ActionLink("Home", "/Index", "Home")</li>
            <li>@Html.ActionLink("Contact", "/Index", "Contact")</li>
            <li>@Html.ActionLink("About", "/Index", "About")</li>
            <li>@Html.ActionLink("BlogPost", "/Index", "Blog")</li>
            <li>@Html.ActionLink("Midterm", "/TakeTest", "Midterm")</li>
        </ul>
    </nav>
    <h1>@RenderSection("h1", required: false)</h1>
    @RenderBody()
    <footer>
        @RenderSection("footer", required: false)
    </footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.1/jquery.validate.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>